<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Dhivya</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>Connection.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Connection.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>Connection.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloodAvailabiltyServlet</display-name>
    <servlet-name>BloodAvailabiltyServlet</servlet-name>
    <servlet-class>Connection.BloodAvailabiltyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloodAvailabiltyServlet</servlet-name>
    <url-pattern>/BloodAvailabiltyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloodRequirementServlet</display-name>
    <servlet-name>BloodRequirementServlet</servlet-name>
    <servlet-class>Connection.BloodRequirementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloodRequirementServlet</servlet-name>
    <url-pattern>/BloodRequirementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequirementServlet1</display-name>
    <servlet-name>RequirementServlet1</servlet-name>
    <servlet-class>Connection.RequirementServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequirementServlet1</servlet-name>
    <url-pattern>/RequirementServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloodDonationServlet</display-name>
    <servlet-name>BloodDonationServlet</servlet-name>
    <servlet-class>Connection.BloodDonationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloodDonationServlet</servlet-name>
    <url-pattern>/BloodDonationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloodDonationServlet1</display-name>
    <servlet-name>BloodDonationServlet1</servlet-name>
    <servlet-class>Connection.BloodDonationServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloodDonationServlet1</servlet-name>
    <url-pattern>/BloodDonationServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFeebackSevlet</display-name>
    <servlet-name>UserFeebackSevlet</servlet-name>
    <servlet-class>Connection.UserFeebackSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFeebackSevlet</servlet-name>
    <url-pattern>/UserFeebackSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>Connection.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
</web-app>